#memberMainContent{
    display:flex;
    width:100%;
    height:50rem;
    justify-content: center;
    align-items: center;
    background-image: url("./img/photo-1588421358255-15197479b11a.jpg");
}

#memberMainText{
    display: flex;
    flex-direction: column;
    width:35%;
    height:35rem;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gray; */
    border-radius: 0.5rem;
    background-color: white;
}

#memberPic{
    width:50%;
    height: auto;
}

@media (max-width:660px){
    #memberMainText{
        width:90%;
    }
}